*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#anil{
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    padding-top: 9%;
}
#anil h4{
    font-size:18px;
    font-weight: 600;
    color: rgb(255, 255, 255)    ;
}
#anil h2{
    display: flex;
    text-align: center;
    font-size: 30px;
    z-index: 1;
}
#anil img{
    position: absolute;
    height: 200px;
    width: 10%;
    left: 45%;
    border-radius: 50%;
    transform: translate(-50% -50%);
    top: 20px;
}
#anil1{
    position: absolute;
    left: 47.5%;
}
#anil01 h1{
    position: absolute;
    top: 50%;
    left: 22%;
    font-size: 50px;
    font-weight: 500;
}
#anil01 h5{
    position: absolute;
    top: 58%;
    left: 20.5%;
    font-size: 18px;
    font-weight: 500;
}
#anil01 h2{
    position: absolute;
    top: 65%;
    left: 14%;
    font-size: 20px;
    font-weight: 500;
}
#anil01 p{
    position: absolute;
    top: 70%;
    left: 8%;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}
#anil02 p{
    position: absolute;
    top: 85%;
    left: 17%;
    font-size: 20px;
}
#anil02 img{
    height:85%;
    width: 32%;
    position: absolute;
    top: 35%;
    left: 55%;
}
#border{
    height: 40%;
    width: 50%;
    position: absolute;
    top: 95%;
    left: 25%;
    border-bottom: 1px solid #000;
}
#border01{
    height: 40%;
    width: 50%;
    position: absolute;
    top: 125%;
    left: 25%;
    border-bottom: 1px solid #000;
}
#anil03 h1{
    position: absolute;
    top: 140%;
    left: 38% ;
    font-size: 40px;
    font-weight: 500;
}
#anil03 p{
    position: absolute;
    top: 152%;
    left: 25% ;
    font-size: 25px;
    right: 18%;
    color: #ffffff;
}
#anil03 img{
    position: absolute;
    height: 120%;
    width: 100%;
    top: 1px;
    z-index: -2;
}
#background img{
    position: absolute;
    height: 120%;
    width: 100%;
    top: 120%;
    z-index: -2;
}
#anil04 h1{
    position: absolute;
    top: 175%;
    left: 35%;
    font-size: 46px;
    color: #000000;
    font-weight: 500;
}
#anil04 p{
    position: absolute;
    top: 185%;
    left: 39%;
    font-size: 27px;
}
#border02{
    height: 40%;
    width: 50%;
    position: absolute;
    top: 155%;
    left: 25%;
    border-bottom: 1px solid #000;
}
#anil05{
    display: flex;
    justify-content: space-evenly;
    padding-top: 92%;
    font-size: 18px;
    color: #ffffff;
}
#anil05 p{
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    color: #000000;
}
.bug{
   padding-left: 8%;
   font-size: 25px;
   padding-top: 10.5%;
}
#button h4{
    position: absolute;
    padding-left: 85%;
    top: 232%;
    font-size: 20px;
    color: #ffffff;
}
#border03{
    height: 40%;
    width: 50%;
    position: absolute;
    top: 175%;
    left: 25%;
    border-bottom: 1px solid #000;
}
#border04{
    height: 20%;
    width: 7%;
    position: absolute;
    top: 214.5%;
    left: 85%;
    border-bottom: 2px solid #ffffff;
}
#bugbackground p{
    position: absolute;
    height: 4%;
    width: 5%;
    top: 230%;
    left: 7.7%;
    background-color: rgb(228, 228, 228);
    z-index: -1;
    border-radius: 19%;
}