*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#anil{
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    padding-top: 9%;
}
#anil h4{
    font-size:18px;
    font-weight: 600;
    color: rgb(255, 252, 252)    ;
}
#anil h2{
    display: flex;
    text-align: center;
    font-size: 30px;
    z-index: 1;
}
#anil img{
    position: absolute;
    height: 200px;
    width: 10%;
    left: 45%;
    border-radius: 50%;
    transform: translate(-50% -50%);
    top: 20px;
}
#anil1 h5{
    position: absolute;
    left: 47.5%;
}
#anil01 h1{
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 68%;
    left: 66%;
    font-size: 60px;
}
#anil01 p{
    position: absolute;
    text-align: center;
    align-items: center;
    top: 94%;
    left:63% ;
    right: 9%;
    font-size: 23px;
}
#anil01 h5{
    position: absolute;
    top: 112%;
    left: 67%;
    font-size: 22px;
    font-weight: 500;
}
#anil01 img{
    position: absolute;
    height: 108%;
    width: 30%;
    padding-top: 14%;
    left: 28%;
}
.backimg01{
    position: absolute;
    height: 68%;
    width: 78%;
    top: 48%;
    left: -18%;
}
#anil02 h1{
    position: absolute;
    top: 165%;
    left: 27%;
    font-size: 80px;
    font-weight: 500;
}
#anil02 h5{
    position: absolute;
    top: 179%;
    left: 31%;
    font-size: 27px;
    font-weight: 600;
}
#border{
    position: absolute;
    height: 40%;
    width: 60%;
    top: 115%;
    left: 20%;
    border-bottom: 1px solid #000;
}
#border01{
    position: absolute;
    height: 40%;
    width: 50%;
    top: 148%;
    left: 25%;
    border-bottom: 1px solid #000;
}
#anil02 h2{
    position: absolute;
    top: 200%;
    left: 39%;
    font-size: 80px;
    font-weight: 500;
}
#anil02 img{
    position: absolute;
    height: 270%;
    width: 100%;
    top: 1px;
    z-index: -1;
}
.background01 img{
    position: absolute;
    height: 270%;
    width: 100%;
    top: 152%;
    z-index: -1;
}